aiohttp==3.3.0
AoikLiveReload==0.1.0
argh==0.26.2
async-timeout==3.0.0
attrs==18.1.0
base58==0.2.5
certifi==2018.4.16
chardet==3.0.4
dpath==1.4.2
idna==2.6
idna-ssl==1.0.1
multidict==4.3.1
pathtools==0.1.2
pyblake2==1.1.2
pysha3==1.0.2
python-axolotl-curve25519==0.4.1.post2
PyWaves==0.8.13
PyYAML==3.12
requests==2.18.4
telepot==12.7
urllib3==1.22
watchdog==0.8.3
yarl==1.2.4
